/*
 # The Dispatch Toy
 # 
 # This stylesheet contains the formatting and layout of the application.
 # All other styles are defined in the custom jQuery UI stylesheet "jquery-ui-1.8.14.custom.css"
 #
 # Author: Siavash Namazi @siavashnada
*/

body {
	font-family: arial;
}
noscript{
	background-color: #D71616;
	color: white;
	font-weight: bold;
	display:block;	
	clear:both;
}
label{
	font-weight: bold;
    display:block;
    width:160px;
    float:left;	
	color:#0073ea;
	padding-top:5px;
}
.frame{
    float:left;
}
.float{
	float:left;
}
.clear{ 
	clear:both;
}
.ui-icon{
	margin: 2px;
}

/* search form presentation */
fieldset{
    padding: 10px;
    margin:10px;	
}
button{
	-moz-box-shadow: 0 0 2px #ddd;
	-webkit-box-shadow: 0 0 2px #ddd;
	box-shadow: 0 0 2px #ddd;
}
.textfield {
    background-color:white;
	border: solid 1px #ddd;
    width:278px;
	font-size:1.1em;
	padding:3px;	
}
#comments {
	border: solid 1px #ddd;
	width:278px;
	height:80px;
	font-size:1.1em;
	font-family: arial;
	padding:3px;
}
.textfield, #comments, #error, .msg, .call {
	-moz-box-shadow: inset 0 0 5px #ddd;
	-webkit-box-shadow: inset 0 0 5px #ddd;
	box-shadow: inner 0 0 5px #ddd;
}
.focused, #comments.focused{
	border: 1px solid #0073ea;
}
.focused-err{
	border: 1px solid #D71616;
}	
.frame-form{
    float:left;
    width:490px;	
}	
#map { 
    width:440px; 
    height:280px; 
    margin:20px auto 0 auto;
    border:1px solid #ddd;
}
#error{
	padding:5px;
	display:none;	
	overflow: auto;
	width:435px;
}

/* call record presentation */
.frame-result{
    float:left;	
}
.results{
	min-width:350px;
}
.call{
    background-color:#E5F2FF;
    padding:5px 15px 5px 15px;	
    margin-top:10px;
	min-width: 400px;
}
.call-info{
	display:block;	
	padding-top:6px;
}

.msg{
	padding:5px;
	width:380px;
}

/* modal dialog presentation */
#credits{
	font-size: .75em;
	clear:both;
	margin-top:10px;
}
#credits #connect{
	float: right;
	display:block;
	top: 3px;
}
#connect, #terms, #dialog img{
	cursor: pointer;
}
#terms{
	display:block;
	float:right;
	font-size: .75em;
	text-decoration: underline;
}
#terms-text{
	font-size: .75em;
	display:none;
}
#dialog img{
	border: none;
	margin-right: 5px;
} 
#thanks{
	line-height: 1.3;
	width: 310px;
}

